# Configuración del Bot de Discord
DISCORD_TOKEN=REEMPLAZA_CON_TU_NUEVO_TOKEN
PORT=3001
DISCORD_CLIENT_ID=TU_CLIENT_ID
DISCORD_CLIENT_SECRET=REEMPLAZA_CON_TU_NUEVO_SECRET
DISCORD_REDIRECT_URI=http://localhost:5173
